// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-projects-primary: mat.define-palette(mat.$indigo-palette);
$ng-projects-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-projects-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-projects-theme: mat.define-light-theme(
    (
      color: (
        primary: $ng-projects-primary,
        accent: $ng-projects-accent,
        warn: $ng-projects-warn,
      ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-projects-theme);

@import "~bootstrap/dist/css/bootstrap.css";

@import "~bootstrap/scss/bootstrap.scss";

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  font-family: Oranienbaum, "Helvetica Neue", sans-serif;
  color: #cbcbcb;
}

@font-face {
  font-family: "Brisk-Pro";
  src: local("Brisk-Pro"), url("./assets/fonts/brisk-pro/Brisk-Pro.otf");
}

@font-face {
  font-family: chicola-smoothy;
  src: url(./assets/fonts/chicola-smoothy.ttf) format("opentype");
}

@font-face {
  font-family: aliseo;
  src: url(./assets/fonts/ALISEO-NonCommercial.otf) format("opentype");
}

@font-face {
  font-family: blanka;
  src: url(./assets/fonts/Blanka-Regular.otf) format("opentype");
}

@font-face {
  font-family: figa;
  src: url(./assets/fonts/Figa.ttf) format("opentype");
}

@font-face {
  font-family: forvertz;
  src: url(./assets/fonts/Forvertz.ttf) format("opentype");
}

@font-face {
  font-family: Oranienbaum;
  src: url(./assets/fonts/Oranienbaum.ttf) format("opentype");
}

@font-face {
  font-family: Polya;
  src: url(./assets/fonts/POLYA.otf) format("opentype");
}
