.review-row {
  margin-top: 81px;
  height: 100%;
}

.more-info-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #282828;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(226, 226, 226, 0.02) 0px,
      rgba(226, 226, 226, 0.02) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
  padding-top: 50px;
}

.more-info-first-col {
  display: flex;
  flex-direction: column;
}

.more-side-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 19%;
}

.more-side-info span,
h1 {
  font-size: 3rem;
}

.more-side-info h1 {
  margin: 0;
}

.more-side-info span {
  color: #a84646;
}

hr {
  margin-right: 5px;
  width: 20%;
  height: 3px;
  background-color: #cbcbcb !important;
}

.more-side-info-num-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-info-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 55px;
}

.more-info-description h1 {
  font-size: 2.3rem;
}

.more-info-description p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: lighter;
}

.more-info-description-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
}

.more-info-passion {
  height: 100vh !important;
}

.more-info-btn {
  background: #a84646;
}

.more-info-btn:hover {
  background-color: #a82c2c;
}

.more-side-info-bottom {
  width: 600px;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .review-row {
    margin-top: 0px;
  }

  .more-info-description {
    width: 49%;
  }

  .more-info-description p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .more-side-info-bottom {
    width: 425px;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .more-side-info span {
    font-size: 2rem;
  }

  .more-side-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .more-info-img {
    width: 45%;
  }

  .more-info-description {
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .more-info-main {
    height: auto;
  }

  .more-side-info-bottom {
    width: auto;
  }
}

@media (max-width: 500px) {
  .more-info-main {
    height: 95vh;
  }

  .review-row {
    margin-top: 0px;
    height: auto;
  }

  .more-side-info {
    height: auto;
  }

  .more-side-info span {
    font-size: 2rem;
  }

  .more-side-info h1 {
    font-size: 2rem;
  }

  .more-info-description {
    padding-top: 38px;
  }

  .more-info-description h1 {
    font-size: 1.7rem;
  }

  .more-info-description p {
    font-size: 1rem;
  }

  .more-info-description-text {
    height: auto;
  }

  .more-side-info-bottom {
    width: auto;
  }

  .more-para-1 {
    text-align: center;
  }

  .more-info-img {
    display: none;
  }
}
