.more-info-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #3a3a3a;
  padding-top: 50px;
}

.more-side-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 19%;
}

.more-side-info span,
h1 {
  font-size: 3rem;
}

.more-side-info h1 {
  margin: 0;
}

.more-side-info span {
  color: #a84646;
}

hr {
  margin-right: 5px;
  width: 20%;
  height: 3px;
  background-color: #cbcbcb !important;
}

.more-side-info-num-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-info-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 81px;
}

.more-info-description h1 {
  font-size: 2.3rem;
}

.more-info-description p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: lighter;
}

.more-info-description-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

.more-info-passion {
  height: 100vh !important;
}

.more-info-btn {
  background: #a84646;
}
