<div id="projects" class="container-fluid">
  <div class="row calculator-wrapper">
    <div class="col-xs-12 col-lg-6">
      <app-calculator></app-calculator>
    </div>
    <div class="col-xs-12 col-lg-5 project-info-block">
      <div class="project-header">
        <h1>Calculator</h1>
      </div>
      <div class="project-body">
        <div class="project-description">
          <p class="m-0">
            Description Description Description Description Description
            Description Description Description Description Description
            Description Description Description Description Description
            Description Description Description Description Description
            Description Description Description Description Description
            Description Description
          </p>
        </div>
        <div class="stack-wrapper">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Bootstrap</span>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row calculator-wrapper">
    <div class="col-xs-12 col-lg-6">
      <app-eight-ball></app-eight-ball>
    </div>
    <div class="col-xs-12 col-lg-5 project-info-block">
      <div class="project-header">
        <h1>Calculator</h1>
      </div>
      <div class="project-body">
        <div class="project-description">
          <p class="m-0">
            Description Description Description Description Description
            Description Description Description Description Description
            Description Description Description Description Description
            Description Description Description Description Description
            Description Description Description Description Description
            Description Description
          </p>
        </div>
        <div class="stack-wrapper">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>Bootstrap</span>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
