<div id="skill-set" class="container-fluid skill-set-main">
  <div class="row more-side-info">
    <div class="col-2 col-md-4 more-side-info-num-1">
      <hr/>
      <span>03</span>
    </div>
    <div class="col-3 col-md-5 col-lg-3 skill-set-title">
      <h1>SKILL SET</h1>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row skill-set-card-body">
    <div class="col-lg-1 spacer-1"></div>
    <div class="col-4 col-md-6 col-lg-4 skill-set-card-main">
      <div class="col-12 skill-card-wrapper d-flex">
        <div class="col-2 skill-body-img-wrapper">
          <img class="skill-img" src="../../../assets/img/html-1.svg" alt=""/>
        </div>
        <div class="col-10 skill-set-card-main-header">
          <div class="skill-set-progress-header">
            <div class="skill-set-progress-header-left">
              <h1>HTML/CSS(SASS,SCSS)</h1>
              <span>4 YEARS</span>
            </div>
            <div class="skill-set-progress-header-right">
              <h1 class="progress-text">70%</h1>
            </div>
          </div>
          <div class="skill-set-progress-bar">
            <div class="progress-wrapper">
              <div class="progress-fill-html"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 skill-card-wrapper d-flex">
        <div class="col-2 skill-body-img-wrapper">
          <img
            class="skill-img"
            src="../../../assets/img/javascript-1.svg"
            alt=""
          />
        </div>
        <div class="col-10 skill-set-card-main-header">
          <div class="skill-set-progress-header">
            <div class="skill-set-progress-header-left">
              <h1>JS/TS</h1>
              <span>UNDER A YEAR</span>
            </div>
            <div class="skill-set-progress-header-right">
              <h1>35%</h1>
            </div>
          </div>
          <div class="skill-set-progress-bar">
            <div class="progress-wrapper">
              <div class="progress-fill-js"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 skill-card-wrapper d-flex">
        <div class="col-2 skill-body-img-wrapper">
          <img
            class="skill-img"
            src="../../../assets/img/angular-icon-1.svg"
            alt=""
          />
        </div>
        <div class="col-10 skill-set-card-main-header">
          <div class="skill-set-progress-header">
            <div class="skill-set-progress-header-left">
              <h1>Angular</h1>
              <span>UNDER A YEAR</span>
            </div>
            <div class="skill-set-progress-header-right">
              <h1>35%</h1>
            </div>
          </div>
          <div class="skill-set-progress-bar">
            <div class="progress-wrapper">
              <div class="progress-fill-angular"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 skill-card-wrapper d-flex">
        <div class="col-2 skill-body-img-wrapper">
          <img
            class="skill-img"
            src="../../../assets/img/dot-net-core-7.svg"
            alt=""
          />
        </div>
        <div class="col-10 skill-set-card-main-header">
          <div class="skill-set-progress-header">
            <div class="skill-set-progress-header-left">
              <h1>.NET</h1>
              <span>UNDER A YEAR</span>
            </div>
            <div class="skill-set-progress-header-right">
              <h1>10%</h1>
            </div>
          </div>
          <div class="skill-set-progress-bar">
            <div class="progress-wrapper">
              <div class="progress-fill-net"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 col-md-6 col-lg-4 skill-set-card-main">
      <div class="col-12 skill-card-wrapper d-flex">
        <div class="col-2 skill-body-img-wrapper">
          <img class="skill-img" src="../../../assets/img/mysql-6.svg" alt=""/>
        </div>
        <div class="col-10 skill-set-card-main-header">
          <div class="skill-set-progress-header">
            <div class="skill-set-progress-header-left">
              <h1>SQL</h1>
              <span>1 YEAR</span>
            </div>
            <div class="skill-set-progress-header-right">
              <h1>35%</h1>
            </div>
          </div>
          <div class="skill-set-progress-bar">
            <div class="progress-wrapper">
              <div class="progress-fill-sql"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 skill-card-wrapper d-flex">
        <div class="col-2 skill-body-img-wrapper">
          <img
            class="skill-img"
            src="../../../assets/img/wordpress-blue.svg"
            alt=""
          />
        </div>
        <div class="col-10 skill-set-card-main-header">
          <div class="skill-set-progress-header">
            <div class="skill-set-progress-header-left">
              <h1>CMS(JOOMLA,WP)</h1>
              <span>1 YEAR</span>
            </div>
            <div class="skill-set-progress-header-right">
              <h1>50%</h1>
            </div>
          </div>
          <div class="skill-set-progress-bar">
            <div class="progress-wrapper">
              <div class="progress-fill-cms"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 skill-card-wrapper d-flex">
        <div class="col-2 skill-body-img-wrapper">
          <img class="skill-img" src="../../../assets/img/figma-1.svg" alt=""/>
        </div>
        <div class="col-10 skill-set-card-main-header">
          <div class="skill-set-progress-header">
            <div class="skill-set-progress-header-left">
              <h1>UI/UX(Sketch,Figma)</h1>
              <span>1 YEAR</span>
            </div>
            <div class="skill-set-progress-header-right">
              <h1>60%</h1>
            </div>
          </div>
          <div class="skill-set-progress-bar">
            <div class="progress-wrapper">
              <div class="progress-fill-figma"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 skill-card-wrapper d-flex">
        <div class="col-2 skill-body-img-wrapper">
          <img
            class="skill-img"
            src="../../../assets/img/logo-flinto.svg"
            alt=""
          />
        </div>
        <div class="col-10 skill-set-card-main-header">
          <div class="skill-set-progress-header">
            <div class="skill-set-progress-header-left">
              <h1>Prototype(Flinto)</h1>
              <span>1 YEAR</span>
            </div>
            <div class="skill-set-progress-header-right">
              <h1>70%</h1>
            </div>
          </div>
          <div class="skill-set-progress-bar">
            <div class="progress-wrapper">
              <div class="progress-fill-flinto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1 spacer-1"></div>
  </div>
  <div class="row">
    <div class="contact-btn-wrapper">
      <button (click)="toProjects()" class="btn btn-danger contact-btn">
        Projects
      </button>
    </div>
  </div>
</div>
