.nav-body {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.nav-row {
  width: 100%;
}

.navbar-brand {
  padding-left: 10px;
}

.navbar {
  background-color: #363636;
  border-bottom: #a84646 solid 3px;
}

.nav-link {
  margin-left: 30px;
}

.Surname {
  color: #a84646;
}
