<div id="review" class="container-fluid about-review-main">
  <div class="row">
    <div class="col -6 more-side-info">
      <div class="col-3 more-side-info-num-1">
        <hr/>
        <span>02</span>
      </div>
      <div class="col-4"><h1 class="about-header">PASSION</h1></div>
    </div>
    <div class="col-6"></div>
    <div class="row about-review-card-main">
      <div class="col-3 about-review-card">
        <img class="review-img" src="../../../assets/img/design.SVG" alt=""/>
        <h1 class="mt-5">DESIGN</h1>
        <p class="mt-3">
          The design of an app is a communication device between the developer
          and the user. In my opinion, the design is of great importance and can
          help the app stand out from the rest in its own unique way. Which is
          why I always implement the best standards when designing an app.
        </p>
      </div>
      <div class="col-3 about-review-card">
        <img
          class="review-img"
          src="../../../assets/img/technology.SVG"
          alt=""
        />
        <h1 class="mt-5">TECHNOLOGY</h1>
        <p class="mt-3">
          Technology is the bridge between the visuals and interactivity of an
          app. it is important to be consistent with the latest standards and
          practices. This includes writing clean, readable code and keeping up
          with the latest tech. A good example of this is the CI/CD standards
          for Software Developers.
        </p>
      </div>
      <div class="col-3 about-review-card">
        <img
          class="review-img"
          src="../../../assets/img/streamlinehq-design-thinking-london-999.SVG"
          alt=""
        />
        <h1 class="mt-5">ME</h1>
        <p class="mt-3">
          Since the start of my adult life I have always been in a team
          dependant role. This has helped me become a solid team play and I am
          able to collaborate and communicate with other members easily. I have
          always tried out various fields and found I can adapt to any
          environment I am put in given the opportunity.
        </p>
      </div>
    </div>
    <div class="contact-btn-wrapper">
      <button (click)="toSkills()" class="btn btn-danger contact-btn">
        Coninue
      </button>
    </div>
  </div>
</div>
