.about-review-main {
  height: 100vh;
  background-image: radial-gradient(
      circle at center center,
      transparent,
      rgb(33, 33, 33)
  ),
  repeating-linear-gradient(
      135deg,
      rgb(33, 33, 33) 0px,
      rgb(33, 33, 33) 2px,
      transparent 2px,
      transparent 10px,
      rgb(33, 33, 33) 10px,
      rgb(33, 33, 33) 11px,
      transparent 11px,
      transparent 21px
  ),
  repeating-linear-gradient(
      45deg,
      rgb(47, 47, 47) 0px,
      rgb(47, 47, 47) 4px,
      transparent 4px,
      transparent 8px
  ),
  linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
  padding-top: 50px;
}

.more-side-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 19%;
  margin-bottom: 138px;
}

.more-side-info span,
h1 {
  font-size: 3rem;
}

.more-side-info h1 {
  margin: 0;
}

.more-side-info span {
  color: #a84646;
}

hr {
  margin-right: 5px;
  width: 20%;
  height: 3px;
  background-color: #cbcbcb !important;
}

.more-side-info-num-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-review-card-main {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-review-card {
  p {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.review-img {
  width: 290px;
  height: 250px;
}

.contact-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  margin-top: 70px;
  margin-right: 22px;
  width: 23%;
  background: #a84646;
}

@media (max-width: 1600px) {
  .about-review-main {
    height: auto;
  }

  .more-side-info {
    margin-bottom: 74px;
  }

  .contact-btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .about-review-main-row {
    margin: 0px !important;
  }

  .c6-space {
    display: none;
  }

  .more-side-info {
    margin-bottom: 93px;
  }

  .more-side-info span,
  h1 {
    font-size: 2rem;
  }

  .about-review-main {
    height: auto;
    padding-top: 67px;
  }

  .about-review-card-main {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .about-review-card {
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }

  .contact-btn {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 2em;
    margin-right: 0px;
  }

  .contact-btn:hover {
    background-color: #a82c2c;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .about-review-main {
    height: auto;
  }

  .about-review-card-main {
    flex-direction: column;
  }

  .about-review-card {
    margin-top: 40px;
  }

  .about-review-heading {
    margin-top: 0px !important;
  }

  .about-review-card {
    width: 100%;
  }

  .more-side-info {
    margin-bottom: 50px;
  }

  .more-side-info span {
    font-size: 2.5rem;
  }

  .contact-btn {
    margin-bottom: 25px;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .review-img {
    width: 150px;
    height: auto;
  }

  .about-review-card {
    margin-top: 0px;
  }

  .about-review-heading h1 {
    margin-bottom: 0px;
  }

  .card-para {
    margin-top: 0px !important;
  }

  .about-review-card p {
    font-size: 1rem;
    margin-top: 0px !important;
  }

  .more-side-info {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .about-review-main-row {
    margin: 0px !important;
  }

  .c6-space {
    display: none;
  }

  .more-side-info {
    margin-bottom: 93px;
  }

  .more-side-info span,
  h1 {
    font-size: 2rem;
  }

  .about-review-main {
    height: 255vh;
    padding-top: 67px;
  }

  .about-review-card-main {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .about-review-card {
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }

  .contact-btn {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 2em;
    margin-right: 0px;
  }

  .contact-btn:hover {
    background-color: #a82c2c;
  }
}
