.about-review-main {
  height: 100vh;
  background-color: #3a3a3a;
  padding-top: 100px;
}

.more-side-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 19%;
  margin-bottom: 138px;
}

.more-side-info span,
h1 {
  font-size: 3rem;
}

.more-side-info h1 {
  margin: 0;
}

.more-side-info span {
  color: #a84646;
}

hr {
  margin-right: 5px;
  width: 20%;
  height: 3px;
  background-color: #cbcbcb !important;
}

.more-side-info-num-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-review-card-main {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-review-card {
  p {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5rem;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.review-img {
  width: 290px;
  height: 250px;
}

.contact-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  margin-top: 70px;
  margin-right: 22px;
  width: 23%;
  background: #a84646;
}

@media (max-width: 420px) {
  .about-review-main-row {
    margin: 0px !important;
  }

  .about-review-main {
    height: 254vh;
    padding-top: 90px;
  }

  .more-side-info {
    margin-bottom: 100px;
  }
  .about-review-card-main {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .about-review-card {
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }

  .contact-btn {
    margin-top: 0px;
    width: auto;
    margin-bottom: 2em;
    margin-right: 0px;
  }
}
