<div class="container-fluid home-container">
  <div class="row">
    <div class="col-1 home-social">
      <a href="https://www.linkedin.com/in/byron-labuschagne"
      ><img
        src="../../../assets/img/linkedin-logo.png"
        width="50"
        height="50"
        alt="LinkedIn"
      /></a>
      <a href="https://github.com/Byron-web">
        <img
          src="../../../assets/img/github.png"
          width="50"
          height="50"
          alt="Github"
        /></a>
    </div>
    <div class="col-1"></div>
    <!--make the 3 borders-->
    <div class="col-5 home-body">
      <h1 class="home-header">Hi, I'm Byron.</h1>
      <h4 class="home-para">
        Junior software designer and developer from <br/>
        Johannesburg, SA. I design and create custom<br/>
        applications to help businesses grow.
      </h4>
      <a routerLink="projects">
        <button class="btn btn-danger home-btn">My Projects</button>
      </a>
    </div>
    <div class="col-1"></div>
    <div class="col-2">
      <img
        class="home-img"
        src="../../../assets/img/byron.png"
        width="271"
        height="415"
        alt="Byron"
      />
    </div>
  </div>
</div>
