.chat-head-icon {
  font-size: 30px;
  color: #f1ecec;
}

.chat-head-nav {
  background: #0277bd;
}

.chat-head-status {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chat-head-number {
  font-size: 10px;
  color: #f1ecec;
}

.chat-head-status {
  font-weight: 500;
  color: #f1ecec;
}
